{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:dj_crt_mgr_httpusercertmapper_fetch' original %}" class="addlink">
            Fetch
        </a>
    </li>
    {{ block.super }}
{% endblock %}